@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.footer-container, .portfolio-container, .container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
}

.pin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

li {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  display: inline-block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-header {
  display: flex;
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-beginning {
  color: #2196f3;
}

.site-nav {
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
  margin-left: 93px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .list-item {
  display: block;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}

.list-item:hover,
.list-item:focus {
  color: #2196f3;
}

.list-item:active {
  color: #2196f3;
}

.item .active {
  color: #2196f3;
}

.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.logo {
  display: flex;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  line-height: 1.2;
  font-size: 26px;
  letter-spacing: 0.03em;
}

.logo-beginning {
  color: #2196f3;
}

.communication {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: auto;
}

.communication .item + .item {
  margin-left: 50px;
}

.mail-phone {
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 10px;
  color: #757575;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2%;
}
.mail-phone.mail-phone:hover, .mail-phone.mail-phone:focus {
  color: #2196f3;
}

.envelope-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 16px;
  height: 12px;
}

.phone-icon {
  margin-right: 10px;
  fill: currentColor;
  width: 10px;
  height: 16px;
}

.page-header.portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 109px;
}

.examples-container {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 65px;
}

.examples-title {
  margin: 0;
  padding: 0;
  text-align: center;
  display: none;
}

.examples-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.examples-list .item {
  margin-left: 8px;
}

.examples-list .item:first-child {
  margin: 0;
}

.examples-list .button {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.examples-list .button:hover,
.examples-list .button:focus {
  padding: 6px 22px;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  padding: 0;
}

.project-item {
  display: flex;
  width: 370px;
  margin: 15px;
}

.overlya-container {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.project-overlya {
  position: absolute;
  top: 0;
  left: 0;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
}

.base-overlya {
  transform: translateY(100%);
  opacity: 0;
}

.project:focus .base-overlya,
.project:hover .base-overlya {
  transform: translateY(0);
  opacity: 1;
}

.project-overlya p {
  display: block;
  padding: 0;
  margin: 0;
  text-align: left;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.content {
  padding: 20px 24px;
  background: #ffffff;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.project {
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project:focus,
.project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
  margin: 0;
  padding: 0;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}

.project-description {
  margin: 0;
  margin-top: 4px;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.page-footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: Raleway, sans-serif;
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.contact {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.contacts-list {
  margin: 0;
  padding: 0;
}

.contacts-list .item {
  margin-top: 9px;
}

.contact .mail-phone {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* Соц сети*/
.link-container {
  margin-left: 70px;
}

.invite {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.border-links {
  display: flex;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

.border-links .link-item + .link-item {
  margin-left: 10px;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer .social-link:focus,
.footer .social-link:hover {
  background-color: #2196f3;
}

.form-container {
  margin-left: auto;
}

.footer-form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button {
  display: flex;
  align-items: center;
  min-width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 8px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.subscribe-button::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-color: #2196f3;
  background-image: url(../images/icon-send.svg);
  background-size: 24px 24px;
}

/*# sourceMappingURL=file:///d:/%D0%9A%D1%83%D1%80%D1%81%D0%B8%20%D0%94%D0%97%20GIThub/goit-markup-hw-07/css/profile.css.map *//*# sourceMappingURL=profile.css.map */