.page-header {
  background-color: $primary-bg-color;

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  @extend %container;
  background-color: $primary-bg-color;

  @media screen and (max-width: 767px) {
    position: relative;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.header-overlya {
  display: none;

  @media screen and (max-width: 767px) {
    position: absolute;

    top: 60px;
    left: 0;
    width: 100%;
    height: 453px;
    background-color: $primary-bg-color;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.site-nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
  }
}

.site-nav .item + .item {
  @media screen and (min-width: $tablet) {
    margin-left: 50px;
  }
}

.site-nav .list-item {
  display: block;
  position: relative;
  text-align: center;

  @include transition(color);

  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $primary-title-color;

  @media screen and (min-width: $tablet) {
    font-size: 16px;
    line-height: 1.14;
    padding-top: 31px;
    padding-bottom: 31px;
  }
}

.list-item:hover,
.list-item:focus {
  color: $accent-color;
}

.list-item:active {
  color: $accent-color;
}

.item .active {
  color: $accent-color;
}

.active::after {
  content: "";

  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;

  background-color: $accent-color;
  border-radius: 2px;
}

.mobile-button {
  display: inline-flex;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

.mobile-button .icon-cross {
  display: none;
}

.mobile-button.is-open .icon-cross {
  display: block;
}

.mobile-button.is-open .icon-menu {
  display: none;
}
