.page-team {
  background-color: $section-bg-color;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-container {
  @extend %container;
}

.team-title {
  @extend %title;
}

.emloyees-list {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 50px;
}

.emloyees-list .employee-item + .employee-item {
  margin-left: 30px;
}

.employee-item {
  display: block;
  background-color: $primary-bg-color;
  text-align: center;

  padding-bottom: 30px;

  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(153, 70, 70, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.employee {
  @include transition(color);

  color: $primary-title-color;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.employee-container {
  padding-top: 30px;
}

.employee-name {
  @include transition(color);

  padding: 0;
  margin: 0;

  font-weight: 500;
  font-size: 16px;

  color: $primary-title-color;
}

.employee-name:hover {
  color: inherit;
}

.employee:focus {
  outline: none;
}

.employee:hover {
  color: $accent-color;
}

.employee-position {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  color: $primary-text-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.link-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-top: 16px;
}

.link-list .link-item + .link-item {
  margin-left: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  @include transition(color);

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $primary-bg-color;
  color: $logo-color;
}

.social-link:focus,
.social-link:hover {
  background-color: $accent-color;
  color: $primary-white-text-color;
}

.pin {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
